.main-wrapper
  .contents
    .theme
    %h2 TimeLine
  .contents2
    .title
      
  .contents2
    .title
  .contents2
    .title
  .contents2
    .title
  .contents2
    .title
  .contents2
    .title
  .contents2
    .title
  .contents2
    .title
  .contents2
    .title
  .contents2
    .title

