article{
  background-color: #E0E0E0;
  padding: 10px;
  margin-bottom: 1px;
  margin-top: 1px;
  margin: 10px auto;
  width: 600px;
  height: 130px;
}

figure img{
  width: 40%;
  height: 40%;
  object-fit: cover;
}

ul more_list{
  float: right;
}

span label-default.pull-right{
  float: right;
}

li {
  float: right;
}