.contents2{
  width: 60%;
  max-width: 600px;
  height: 100px;
  background-color: gray;
  margin: 20px auto 0;
}

.title{
  background-color: yellow;
  width: 80%;
  height: 40px;
  float: right;
}

h2{
margin: 20px 320px 0;
}