article{
  background-color: #E0E0E0;
  padding: 10px;
  margin-bottom: 1px;
  margin-top: 1px;
  margin: 10px auto;
  width: 600px;
  height: 130px;
}

figure img{
  width: 40%;
  height: 40%;
  object-fit: cover;
}

ul more_list{
  float: right;
}

span label-default.pull-right{
  float: right;
}

body{
  background-image: url(https://number.ismcdn.jp/mwimgs/8/e/-/img_8e950b51cfdca6004929b2c5fb6d326b312110.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h2{
  color: honeydew;
}

h4{
  color: aliceblue;
}

p{
  color: aliceblue;
}

